{**
 * Layout of Nette Framework example CD collection
 *
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 * @param Nette\Web\User $user  current user
 *}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta n:ifset="$robots" name="robots" content="{$robots}">

	<title>{block title|stripHtml|trim}{/block} | Nette example</title>

	<link rel="stylesheet" media="screen" href="{$basePath}/css/site.css" />
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/bower_components/bootstrap/dist/css/bootstrap.css">

    <!-- Use this css for that pretty checkboxes (https://github.com/paveljanda/happy) -->
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/bower_components/happy/dist/happy.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/bower_components/ublaboo-datagrid/assets/dist/datagrid.css">

    <!-- Use this css for ajax spinners -->
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.css">

    <!-- Include this css when using FilterMultiSelect (silviomoreto.github.io/bootstrap-select) -->
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/bower_components/bootstrap-select/dist/css/bootstrap-select.css">

    <script src="{$basePath}/css/bower_components/jquery/dist/jquery.js"></script>
    <script src="{$basePath}/css/bower_components/nette-forms/src/assets/netteForms.js"></script>
    <script src="{$basePath}/css/bower_components/nette.ajax.js/nette.ajax.js"></script>

    <!-- Use this tiny js for that pretty checkboxes (https://github.com/paveljanda/happy) -->
    <script src="{$basePath}/css/bower_components/happy/dist/happy.js"></script>
    <script src="{$basePath}/css/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="{$basePath}/css/bower_components/jquery-ui-sortable/jquery-ui-sortable.js"></script>
    <script src="{$basePath}/css/bower_components/ublaboo-datagrid/assets/dist/datagrid.js"></script>

    <!-- It is recommended to include this JS file with just a few bits. It refreshes URL on non ajax request -->
    <script src="{$basePath}/css/bower_components/ublaboo-datagrid/assets/dist/datagrid-instant-url-refresh.js"></script>

    <!-- Use this little extension for ajax spinners -->
    <script src="{$basePath}/css/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.js"></script>

    <!-- Include bootstrap.js for proper behaviour of ColumnStatus -->
    <script src="{$basePath}/css/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Include bootstrap-select.js when using FilterMultiSelect (silviomoreto.github.io/bootstrap-select) -->
    <script src="{$basePath}/css/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
</head>

<body>
	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

	<div id="content">
		{include content}
	</div>

	<p id="logged-in" n:if="$user->loggedIn">Signed in as {$user->identity->realname}. <a n:href="Sign:out">Sign out</a></p>

	<script src="http://nette.github.io/resources/js/netteForms.min.js"></script>
</body>
</html>
