{block content}

<h1 n:block="title">My Albums</h1>

{control dashboardGrid}

<!-- Initialize nette.ajax.js after loading the DOM. -->
<script>
    $(document).ready(function(){
        $.nette.init();
    });
</script>

